name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  # 수동 실행 허용
  workflow_dispatch:

# 배포를 위한 권한 설정 (id-token 및 pages 쓰기 권한 필수)
permissions:
  contents: read
  pages: write
  id-token: write

# 동시 수행 방지 설정
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
        working-directory: todo_app

      - name: Build Web
        run: flutter build web --base-href "/my_flutter_web_practice/"
        working-directory: todo_app

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./todo_app/build/web

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
